/* Footer styles */
footer {
    flex-shrink: 0;
    /* Existing footer styles */
    background-color: var(--footer-background);
    color: var(--text-color);
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

footer .footer-content {
    max-width: var(--catalog-width);
    margin: 0 auto;
    padding: 10px;
}

footer .footer-content p {
    color: var(--text-color);
    font-size: 1rem;
    margin: 0;
}