/* catalog.css */

/* Container for Movie Listings */
.movie-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 0 20px;
    max-width: var(--catalog-width); /* Adjust as needed */
    margin: 0 auto;
    transition: all var(--transition-duration) ease;
    background-color: var(--background-dark); /* Black/gray background */
}

/* Media Query to Limit to 4 Columns on Large Screens */
@media (min-width: var(--breakpoint-lg)) {
    .movie-listings {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* List View Styling */
.movie-listings.list-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Responsive Styles */

/* Tablet (Max Width: 1024px) */
@media (max-width: var(--breakpoint-md)) {
    .movie-listings {
        max-width: 1000px;
    }
}

/* Mobile (Max Width: 768px) */
@media (max-width: var(--breakpoint-sm)) {
    .movie-listings {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

/* Very Small Mobile (Max Width: 480px) */
@media (max-width: var(--breakpoint-xs)) {
    .movie-listings {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

/* Toggle View Section */
.view-toggle-section {
    padding: 20px;
    max-width: var(--catalog-width); /* Adjust as needed */;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

/* Headline Styling */
.view-toggle-headline h2{
    font-size: 1.7rem;
    color: var(--text-color); /* White text */
    margin: 0;
    /* text-transform: uppercase; */
}

/* Toggle Buttons Container */
.view-toggle-container {
    display: flex;
    gap: 10px;
}

/* Toggle Button Styles */
.view-toggle-btn {
    background-color: var(--button-background); /* Button background */
    color: var(--button-text-color); /* Icon/text color */
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius-medium);
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active/Pressed Button */
.view-toggle-btn.active,
.view-toggle-btn[aria-pressed="true"] {
    background-color: var(--highlight-color); /* Highlight for active button */
    color: var(--secondary-text-color); /* Ensure contrasting text color */
}

/* Button Hover & Focus States */
.view-toggle-btn:hover,
.view-toggle-btn:focus {
    background-color: var(--button-hover-background);
    outline: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .view-toggle-section {
        /* flex-direction: column;
        align-items: flex-start; */
        display: none !important;
    }

    .view-toggle-container {
        margin-top: 10px;
    }

    .view-toggle-headline h2 {
        font-size: 1.5rem;
    }
}

