/* buttons.css */

/* General Button Styles */
.btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px; /* Increased border-radius for elegance */
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

.btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px); /* Subtle lift on hover */
}

/* Primary Button Styling */
.btn-primary {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #a98b03;
    transform: translateY(-3px);
}
