/* File: static/css/components/buttons.css */

/* Filter Buttons Container */
.filter-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    font-family: var(--font-body);
}

.filter-buttons-container::-webkit-scrollbar {
    display: none;
}

/* Filter Buttons */
.filter-button {
    background-color: var(--button-background); /* #ffffff */
    color: var(--button-text-color); /* #333333 */
    border: 1px solid var(--button-border-color); /* #CCCCCC */
    border-radius: 25px;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
    font-size: clamp(0.9em, 1.5vw, 1.3em); /* Responsive font size */
    flex: 1 0 calc(33.33% - 15px);
    text-align: center;
    box-sizing: border-box;
    font-family: var(--font-body);
    height: 30px; /* Example height */
}

.filter-button.selected,
.filter-button:hover {
    background-color: var(--button-hover-background); /* #f0f0f0 */
    color: var(--button-text-color); /* #333333 */
    border: 1px solid var(--button-border-color); /* #CCCCCC */
}

/* Filters Buttons Row */
.filters-buttons-row {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-family: var(--font-body);
}

/* Filter Action Button */
.filter-action-button {
    display: flex;
    align-items: center;
    background-color: var(--background-dark); /* #ffffff */
    color: var(--text-color); /* #333333 */
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid var(--button-border-color); /* #CCCCCC */
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration) ease;
    font-family: var(--font-body);
    line-height: 1;
    min-height: var(--big-button-height);
    align-self: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.filter-action-button:hover {
    background-color: var(--button-hover-background); /* #f0f0f0 */
    color: var(--button-text-color); /* #333333 */
    border: 1px solid var(--button-border-color); /* #CCCCCC */
}

.filter-action-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

/* Navigation Arrows */
.filter-nav-arrow {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: var(--arrow-button-size);
    height: var(--arrow-button-size);
    background: transparent;
    border: none;
    color: var(--button-border-color); /* #CCCCCC */
    font-size: 1.5em;
    cursor: pointer;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.filter-nav-arrow:hover {
    background-color: rgba(108, 107, 107, 0.6);
}

.filter-nav-arrow.left {
    left: 0;
}

.filter-nav-arrow.right {
    right: 0;
}

/* Hide arrows when not needed */
.filter-nav-arrow.hidden {
    display: none;
}
