/* dropdown.css */

/* Main Filters Container */
.main-filters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-body);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main-filters-container::-webkit-scrollbar {
    display: none;
}

/* Custom Dropdowns */
.custom-dropdown {
    flex: 1 1 180px;
    min-width: 150px;
    max-width: 800px;
    position: relative;
    font-family: var(--font-body);
    background-color: var(--button-background);
    border-radius: 3px;
    border: 1px solid var(--button-background);
}

/* Dropdown Header */
.dropdown-header {
    display: flex;
    justify-content: flex-start; /* Aligns the clear icon and badge to the left */
    flex-direction: column; /* For two-row layout */
    background-color: var(--background-dark); /* Adjust background color */
    color: var(--secondary-text-color); /* Use lighter text for better contrast */
    cursor: pointer;
    font-size: clamp(0.9em, 1.5vw, 1.3em); /* Responsive font size */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: var(--font-body);
    position: relative;
    height: var(--big-button-height); /* Let height adjust based on content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    white-space: nowrap; /* Prevents wrapping inside the header */
    overflow: hidden; /* Prevents content from overflowing */
    z-index: 4000; /* Ensure this is lower than the autocomplete list */
}


.dropdown-header:hover {
    border: 1px solid var(--accent-color);
}

.custom-dropdown.dropdown-open .dropdown-header {
    border-color: var(--accent-color);
}

/* Dropdown Header Icon and Text */
.dropdown-header .header-label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2px;
    font-size: clamp(0.8em, 1vw, 1.1em);
}

.dropdown-header .header-label i {
    padding-left: 5px;
    font-size: clamp(1em, 1vw, 1.2em);
    margin-right: 5px;
}

.dropdown-header .header-label span {
    font-size: clamp(1.2em, 0vw, 1.5em);
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

/* Dropdown Arrow */
.dropdown-header::after {
    visibility:hidden;
    content: '\25BC';
    font-size: clamp(1.1em, 0vw, 1.3em);
    color: var(--secondary-text-color);
    position: absolute;
    right: 12px;
    transition: transform var(--transition-duration) ease, color var(--transition-duration) ease;
}

.dropdown-header[aria-expanded="true"]::after {
    transform: rotate(180deg);
    color: var(--accent-color);
}

.selection-clear-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This ensures the badge aligns with the center */
    width: 100%;
    position: relative; /* Added to contain the absolutely positioned badge */
}

/* Clear Icon */
.clear-icon {
    font-size: 1.4em;
    cursor: pointer;
    color: var(--accent-color);
    flex-shrink: 0; /* Prevent shrinking */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.clear-icon.visible {
    visibility: hidden;
    opacity: 1;
}

/* Selection Badge */
.selection-badge {
    position: absolute;
    bottom: 5px; /* Moves the badge 10px below the bottom of the header. Adjust as needed */
    right: 5px; /* Adjust as needed */
    /* background-color: var(--accent-color); */
    color: var(--accent-color);
    font-size: 0.8em;
    padding: 3px 10px; /* Adjust padding for better vertical alignment */
    border-radius: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1; /* Ensure the text is vertically centered */
    /* Removed margin-right to prevent conflict with absolute positioning */
    z-index: 4500; /* Ensure it appears above other elements */
}




/* Show Clear Icon and Badge When Items Are Selected */
.dropdown-header.has-selection .clear-icon,
.dropdown-header.has-selection .selection-badge {
    visibility: visible;
    opacity: 1;
}

/* Dropdown Lists Container */
.dropdown-lists-container {
    position: absolute; /* Position absolutely within the container */

    left: 0;
    width: 100%;
    background-color: var(--dropdown-background);
    z-index: 7000; /* Ensure it appears above other elements */
    box-sizing: border-box; /* Ensure consistent box model */
}

/* Dropdown List */
.dropdown-list {
    position: relative; /* Relative to the .dropdown-lists-container */
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: var(--dropdown-background);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 8000; /* Ensure it's above other elements */
    display: none; /* Hidden by default */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0; /* Start with invisible state */
}

/* Show the dropdown list when active */
.dropdown-list.show {
    display: block;
    max-height: 500px; /* Adjust as needed */
    opacity: 1;
}

.dropdown-list::-webkit-scrollbar {
    display: none;
}
