/* dropdown.css */

/* Main Filters Container */
.main-filters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-body);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main-filters-container::-webkit-scrollbar {
    display: none;
}

/* Navigation Arrows */
.filter-nav-arrow {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: var(--arrow-button-size);
    height: var(--arrow-button-size);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: var(--accent-color);
    font-size: 1.5em;
    cursor: pointer;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.filter-nav-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.filter-nav-arrow.left {
    left: 0;
}

.filter-nav-arrow.right {
    right: 0;
}

/* Hide arrows when not needed */
.filter-nav-arrow.hidden {
    display: none;
}


/* Custom Dropdowns */
.custom-dropdown {
    flex: 1 1 180px;
    min-width: 150px;
    max-width: 800px;
    position: relative;
    font-family: var(--font-body);
    background-color: var(--button-background);
    border-radius: 3px;
    border: 1px solid var(--button-background);
}

/* Dropdown Header */
.dropdown-header {
    display: flex;
    justify-content: flex-start; /* Aligns the clear icon and badge to the left */
    flex-direction: column; /* For two-row layout */
    background-color: var(--background-dark); /* Adjust background color */
    color: var(--text-light); /* Use lighter text for better contrast */
    cursor: pointer;
    font-size: clamp(0.9em, 1.5vw, 1.3em); /* Responsive font size */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: var(--font-body);
    position: relative;
    height: 70px; /* Let height adjust based on content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    white-space: nowrap; /* Prevents wrapping inside the header */
    overflow: hidden; /* Prevents content from overflowing */
}

.dropdown-header:hover {
    border: 1px solid var(--accent-color);
}

.custom-dropdown.dropdown-open .dropdown-header {
    border-color: var(--accent-color);
}

/* Dropdown Header Icon and Text */
.dropdown-header .header-label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2px;
    font-size: clamp(0.8em, 1.5vw, 1.1em);
}

.dropdown-header .header-label i {
    padding-left: 5px;
    font-size: clamp(1em, 1vw, 1.2em);
    margin-right: 5px;
}

.dropdown-header .header-label span {
    
    font-size: clamp(1.2em, 1vw, 1.5em);
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

/* Dropdown Arrow */
.dropdown-header::after {
    content: '\25BC';
    font-size: clamp(1.2em, 1vw, 1.5em);
    color: var(--text-light);
    position: absolute;
    top: 5px;
    right: 12px;
    transition: transform var(--transition-duration) ease, color var(--transition-duration) ease;
}

.dropdown-header[aria-expanded="true"]::after {
    transform: rotate(180deg);
    color: var(--accent-color);
}

.selection-clear-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}

/* Clear Icon */
.clear-icon {
    font-size: 1.4em;
    cursor: pointer;
    color: var(--accent-color);
    flex-shrink: 0; /* Prevent shrinking */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.clear-icon.visible {
    visibility: visible;
    opacity: 1;
}

/* Selection Badge */
.selection-badge {
    background-color: var(--button-background);
    color: var(--accent-color);
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%; /* Adjust based on desired space */
    margin-right: 10px; /* Space between badge and clear icon */
}

/* Show Clear Icon and Badge When Items Are Selected */
.dropdown-header.has-selection .clear-icon,
.dropdown-header.has-selection .selection-badge {
    visibility: visible;
    opacity: 1;
}

.dropdown-header.has-selection .selection-badge {
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* Dropdown List */
.dropdown-list {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: var(--dropdown-background);
    padding: 0 15px;
    box-sizing: border-box;
    transition: max-height 0.5s ease, padding 0.5s ease;
    font-family: var(--font-body);
    z-index: 4000; /* Ensure this is lower than the autocomplete list */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 0 0 5px 5px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.dropdown-list.show {
    max-height: 500px;
    padding: 15px;
    overflow-y: auto;
}

.dropdown-list::-webkit-scrollbar {
    display: none;
}
