/* File: static/css/components/filter.css */

/* Container for Search and Dropdowns */
.search-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1e1e1e;
    position: relative;
    margin-top: 0;
}

/* Filter Form Layout */
#filter-form {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Ensures 10px gap between main and advanced filters */
    width: 100%;
    max-width: var(--filter-width);
    box-sizing: border-box; /* Include padding and borders in width */
}

/* Toggle Buttons */
#toggle-filters-button,
#toggle-advanced-filters-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#toggle-filters-button {
    position: absolute;
    top: 10px;
    right: 20px;
}

#toggle-filters-button.rotate {
    transform: rotate(180deg);
}

#toggle-advanced-filters-button {
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and text */
    transition: background-color 0.3s ease;
}

#toggle-advanced-filters-button:hover {
    background-color: #444;
}

/* Search Box */
.search-container {
    position: relative;
    width: 100%;
    max-width: var(--filter-width);
    height: 50px;
    margin-bottom: 5px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: #fff;
    transition: border 0.3s ease, background-color 0.3s ease;
}

.search-container .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--link-hover-color);
    font-size: 1.5em;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0.3s, opacity 0.3s ease;
}

#search-box {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    font-size: 1.1em;
    background: var(--secondary-text-color);
    color: var(--text-dark);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

#search-box:focus {
    outline: none;
}

#search-box:not(:placeholder-shown) + .search-icon {
    visibility: visible;
    opacity: 1;
}

#clear-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
    cursor: pointer;
    color: var(--accent-color);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

#clear-search.visible {
    visibility: visible;
    opacity: 1;
}

/* Main Filters Container */
.main-filters-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 10px horizontal space between main filter dropdowns */
    width: 100%;
    transition: width 0.5s ease;
}

.main-filters-container.shrink {
    width: 40%; /* Shrink to 40% when advanced filters are open */
}

.main-filters-container .custom-dropdown {
    flex: 1 1 calc((100% - 20px) / 3); /* 3 dropdowns with 10px gaps */
    max-width: calc((100% - 20px) / 3);
    transition: max-width 0.5s ease;
}

/* Advanced Filters Container */
#advanced-filters-container {
    width: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: width 0.5s ease, max-height 0.5s ease;
    box-sizing: border-box;
    display: flex; /* Enables flex layout */
    flex-direction: column; /* Stack items vertically */
    gap: 10px; /* 10px vertical space between advanced filter dropdowns */
}

#advanced-filters-container.open {
    width: 60%;
    max-height: 800px; /* Adjust as needed */
}

/* Advanced Filters' Custom Dropdowns */
#advanced-filters-container .custom-dropdown {
    flex: 1 1 100%; /* Take full width within the container */
    max-width: 100%; /* Ensures full width */
    transition: max-width 0.5s ease;
}

/* Custom Dropdowns */
.custom-dropdown {
    width: 100%;
    max-width: calc((100% - 20px) / 3); /* 3 dropdowns with 10px gaps */
    margin-bottom: 10px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.dropdown-header:hover {
    background-color: #444;
}

.dropdown-header .header-label {
    display: flex;
    align-items: center;
}

.dropdown-header .header-label i {
    font-size: 1.5em;
    margin-right: 10px;
}

.dropdown-header .header-label span {
    font-size: 1.1em;
}

.dropdown-header .header-controls {
    display: flex;
    align-items: center;
}

/* Include/Exclude Toggle */
.include-exclude-toggle {
    display: none; /* Changed from 'none' to 'flex' to make it visible */
    align-items: center;
    margin-right: 10px;
}

.include-exclude-toggle input[type="checkbox"] {
    display: none;
}

.include-exclude-toggle .toggle-label {
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.include-exclude-toggle input[type="checkbox"]:checked + .toggle-label {
    outline-color: var(--accent-color);
    color: #fff;
}

.include-exclude-toggle .toggle-label::before {
    content: 'Include';
}

.include-exclude-toggle input[type="checkbox"]:not(:checked) + .toggle-label::before {
    content: 'Exclude';
}

/* Selection Badge */
.selection-badge {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 0.9em;
    display: none;
    white-space: nowrap;
}

.selection-badge.visible {
    display: inline-block; /* Ensure visibility */
}

/* Clear Icon for Dropdowns */
.dropdown-header .clear-icon {
    visibility: hidden;
    padding-left: 10px;
    opacity: 0;
    font-size: 1.4em;
    cursor: pointer;
    color: var(--accent-color);
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.dropdown-header .clear-icon.visible {
    visibility: visible;
    opacity: 1;
}

/* Dropdown List */
.dropdown-list {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.3s ease, padding 0.3s ease; */
    background-color: #2c2c2c;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.dropdown-list.show {
    max-height: 1200px;
    padding: 10px;
}

/* Filter Buttons Container */
.filter-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Ensures 10px gap between filter buttons */
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.filter-buttons-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.filter-buttons-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, #2c2c2c, rgba(44, 44, 44, 0));
    pointer-events: none;
    display: none;
}

.dropdown-list.show .filter-buttons-container::after {
    display: block;
}

/* Filter Buttons */
.filter-button {
    padding: 8px 12px;
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.9em;
    flex: 1 0 calc(33.33% - 10px); /* 3 buttons per row with 10px gaps */
    text-align: center;
    box-sizing: border-box;
}

.filter-button.selected {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.filter-button:hover {
    background-color: #555;
    border-color: #666;
}

/* Filters Buttons Row */
.filters-buttons-row {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.filter-action-button {
    background-color: #444;
    color: #fff;
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-action-button:hover {
    background-color: var(--accent-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {

    /* Adjust toggle button position and size */
    #toggle-filters-button {
        top: 5px;
        right: 10px;
        font-size: 1.3em;
    }

    .dropdown-header {
        font-size: 1em;
    }

    .dropdown-header .header-label i {
        font-size: 1.3em;
    }

    .include-exclude-toggle .toggle-label {
        font-size: 0.75em;
    }

    .filter-button {
        font-size: 0.85em;
        padding: 6px 10px;
        flex: 1 0 100%; /* Stack buttons vertically */
    }

    .filter-action-button {
        font-size: 0.85em;
        padding: 6px 10px;
    }

    /* Ensure advanced-filters-container's custom-dropdowns align correctly */
    #advanced-filters-container.open .custom-dropdown {
        max-width: 100%; /* Full width within the advanced filters container */
    }

    #filter-form,
    #advanced-filters-container {
        flex-direction: column;
        align-items: stretch;
        width: 100%; /* Ensure full width on mobile */
    }

    .main-filters-container,
    #advanced-filters-container {
        width: 100%;
    }

    .custom-dropdown,
    #advanced-filters-container .custom-dropdown {
        max-width: 100%;
    }

}

@media (max-width: 480px) {
    .search-container {
        margin-bottom: 10px;
    }

    .filter-button {
        font-size: 0.8em;
        padding: 6px 8px;
        flex: 1 0 100%; /* Stack buttons vertically */
    }
}

/* Additional styles for autocomplete */

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.autocomplete-item:hover {
    background-color: #e9e9e9;
}
