/* pagination.css */

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #444;
}

.pagination nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination nav ul li {
    margin: 0 5px; /* Reduced spacing */
}

.pagination nav ul li a,
.pagination nav ul li span {
    display: inline-block;
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 32px; /* Make the buttons more uniform */
    text-align: center;
    font-size: 1rem;
}

.pagination nav ul li a:hover {
    background-color: var(--accent-color);
    transform: translateY(-2px);
}

.pagination nav ul li.active span {
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
}

.pagination nav ul li.disabled span {
    background-color: #8e0d0d;
    color: #aaa;
    cursor: not-allowed;
}

/* Optional: Style for Ellipsis */
.pagination nav ul li.ellipsis span {
    background: none;
    color: #666;
    cursor: default;
}

/* Disabled button styling */
.pagination ul li.disabled a {
    color: #aaa; /* Greyed out color */
    pointer-events: none; /* Prevent clicking */
    cursor: not-allowed;
    background-color: #444; /* Background to indicate disabled state */
    border: 1px solid #333; /* Adjust border color */
}

.pagination ul li.disabled {
    cursor: default;
}
